h1 {
    color: blue;
    }
h2{
    color: rgb(141, 57, 135);
}
.radius {
    width: 200px;;
    height: 200px;
    border-radius: 100px;

}
.homeimage {
    background-image : linear-gradient(rgb(223, 153, 231),rgb(215, 169, 108));
    width: 500px;;
    height: 600px;
    float : right;


}
.top {
      width :1000px;
      max-width: 90%;
      margin: auto;
      margin-left: 150px;
      display: center;
      align-items: center;
      justify-content: space-around;
      
  
}
body {
    background-image : linear-gradient(rgb(223, 153, 231),rgb(215, 169, 108));
    color :-webkit-validation-bubble-arrow;
    height: 1.6;
    margin:0;
           
}

.radius {
    display :flex;
    float : right;
    
}
.container {
    width: 85%;
    margin:auto;


}